@model StuDeptViewModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form action="/Student/AddSave" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
    </div>

    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" min="10" max="80" class="form-control" />
    </div>

    <div>
        <label>Department</label>
        <select id="DepartmentId" name="DepartmentId" class="form form-control">
            @foreach (var item in Model.DeptList)
                {
                    <option value="@item.Id">@item.Name</option>
                }

        </select>
    </div>

    <input type="submit" value="Create" class="btn btn-primary mt-3" />
</form>
<a href="/Student/ShowAll">Back To List</a>

