@model Student
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are You Sure You Want To Delete This</h3>
<h3>@Model.Name</h3>
<h3>@Model.Age</h3>

<form method="post" action="/Student/DeleteAction/@Model.Id">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit"  value="Delete" class="btn btn-danger"/>
</form>
<a href="/Student/ShowAll">Back To List</a>
