@model Department
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form method="get" action="/Department/SaveAdd">
    <div>
        <label>Name</label>
        <input type="text" name="Name" id="Name" value="@Model?.Name" class="form form-control" />
    </div>

    <div>
        <label>ManegerName</label>
        <input type="text" name="MgrName" id="MgrName" value="@Model?.MgrName" class="form form-control" />
    </div>
    <input type="submit" value="create" class="btn btn-primary mt-3 mb-3"/>
</form>
<a href="/Department/showall">Back To list</a>