@model DepartmentViewModel
@{
    ViewData["Title"] = "DetailsWithStudent";
}

<h1>DetailsWithStudent</h1>

<h2>@Model.DeptName</h2>
<h2>@Model.DepartmentState</h2>
<select>
    @foreach (var item in Model.StudentName)
    {
        <option>@item</option>
    }
    
</select>