@model List<Department>
@{
    ViewData["Title"] = "showAll";
}

<h1>showAll</h1>

<a href="/Department/Add" class="btn btn-success mt-3 mb-3">New</a>
<table class="table table-hover">

    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Mgr</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Id</td>
            <td>@item.MgrName</td>

        </tr>
    }

</table>

